body {
  background: black;
}

.profile {
  font-family: 'Space Mono',
}

.navTitle {
  font-family: 'Space Mono', monospace;
  /* font-family: 'Nanum Gothic', sans-serif; */
  color: #d5e3f5;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.navTitle:hover {
  color: #7AB8B0;
}

.navBar {
  font-family: 'Space Mono', monospace;
  /* font-family: 'Lato', sans-serif; */
}

.blerbFont {
  font-family: 'Walter Turncoat';
  font-size:  2rem;
  color: yellow;
}

.zybriqsFont {
  font-family: 'Noto Sans', sans-serif;;
  font-size:  2rem;
  color: #d5e3f5;
  text-shadow: 1px 1px 3px #000000;
}

.zybriqsTitle {
  font-family: 'Lato', sans-serif;
  color: #d5e3f5;
}

.sample {
  color: #d5e3f5;
  font-family: 'Space Mono', monospace;
  /* font-family: 'Lato', sans-serif; */
}

.walker {
  font-family: 'Space Mono', monospace;
  /* font-family: 'Noto Sans', sans-serif;; */
  font-size:  2rem;
  color: #7AB8B0;
  text-shadow: 1px 1px 3px #000000;
}


.sampleText {
  color: #d5e3f5;
  font-family: 'Space Mono', monospace;
}

.description {
  /* font-family: 'Space Mono', monospace; */
  font-family: 'Nanum Gothic', sans-serif;
  color: #d5e3f5;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.z {
  color: #9795DE ;
  font-size:  2rem;
  font-family: 'Varela Round', sans-serif;
}

body {
  background-color: #537999;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.elwyn {
  opacity: 0.8;
}

